#images {
    margin:50px;
    padding:50px;
}
@import "compass/css3";

.bomb { 
  display: block; 
  margin: 20px auto;
  cursor: pointer;
  
  &:active {
    animation: vibrate 0.1s infinite;
  }
}

@keyframes vibrate {
  50% { transform: rotate(1deg) translateX(1px); }
  100% { transform: rotate(-1deg) translateX(-1px); }
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.list {
  list-style-image: url("img/trifoil.png");
}
.toaster{
	animation: vibrate 0.1s infinite;
	
	
}